.sidebar {
    position: fixed;
    width: 80px;
    height: 100vh;
    top: 0;
    left: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #e2e8f0;
    z-index: 1;
    transition: all 0.3s ease;
}

.toggle__btn {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.9rem;
    display: none;
    cursor: pointer;
    background-color: #fff;
    z-index: 1;
    width: 45px;
    height: 50px;
    text-align: center;
    line-height: 65px;
    outline: none;
    border: none;
    color: #475569;
}

.logo_div img {
    height: 60px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.sidebar__icons_div {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 25px;
    cursor: pointer;
}

.sidebar__icons_div .icons {
    color: #64748b;
    transition: all 0.3s ease-in-out;
}

.icon__name {
    text-transform: uppercase;
    font-size: 8px;
    color: #64748b;
    font-weight: 600;
    position: absolute;
    left: 35px;
    top: 10px;
    background-color: #f8fafc;
    padding: 0px 5px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    display: none;
    box-shadow: 0px 0px 5px 0px rgba(100, 116, 139, 0.2);
}

.sidebar__icons_div .icons:hover {
    transform: scale(1.4);
    color: #334155;
}

.icons:hover .icon__name {
    display: block;
}

.sidebar__icons_div .icons.active {
    color: #334155;
    transform: scale(1.5);
}

.sidebar-footer-text {
    margin-top: 8rem;
    font-size: 11px;
    transform: rotate(270deg);
    color: #64748b;
    transition: margin-top 0.3s ease;
}

@media screen and (max-width: 480px) {
    .sidebar {
        width: 100vw;
        height: auto;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-right: none;
        background-color: #fff;
        z-index: 1;
        border-bottom: 1px solid #e2e8f0;
    }
    
    .icons:hover .icon__name {
        display: none;
    }

    .logo_div {
        display: none;
    }

    .sidebar__icons_div .icons {
        font-size: 2.6vb;
    }
      
    .sidebar__icons_div {
        margin-top: 0;
        flex-direction: row;
        gap: 6vw;
        padding: 0px 20px;
    }

    .icons {
        margin-top: 1rem;
    }

    .sidebar-footer-text {
        display: none;
    }

    .toggle__btn {
        display: block;
    }
}
